{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="row mx-0 pt-3">
	<div class="col">
		<h1 class="heading-font text-primary text-center">Cart</h1>
	</div>
</div>
<hr>
{% if cart %}
    {% for item in cart_items %}
                {% include 'cart/includes/cart_product_display.html' %}
    {% endfor %}
    <div id="totals-box">
        {% include 'cart/includes/totals.html' %}
    </div>
<div class="row mt-3 mx-0">
	<div class="col">
        <a class="btn btn-secondary float-right mx-3" href="{% url 'checkout:order-create' %}">                
        <object class="search-object" type="image/svg+xml" data="{% static 'icons/lock.svg' %}">
            <img src="{% static 'icons/lock.svg' %}" alt="Checkout">
        </object> Checkout</a>
        <a class="btn btn-primary float-right" href="{% url 'products:product-list' %}">To Shop</a>
    </div>
	</div>
{% else %}
    <article class="row mx-0">
    <div class="col text-center">
    <h4 class="text-dark">Your cart is empty...</h4>
        <h2 class="text-primary">Let's do some shopping</h2>
        <a class="btn btn-lg btn-danger mt-4 w-25" href="{% url 'products:product-list' %}">Shop</a>
    </div>
    </article>
{% endif %}
{% endblock %}

{% block postloadjs %}
<script>
    $(".update-button").on("click", function() {
        var id = this.id.slice(3);
        $(`#af-${id}`).append('<input type="hidden" name="special" value="update"/>')
        $(`#bf-${id}`).append('<input type="hidden" name="special" value="update"/>')
    })
    $(".remove-button").on("click", function() {
        var id = this.id.slice(3);
        $(`#af-${id}`).append('<input type="hidden" name="special" value="remove"/>')
        $(`#bf-${id}`).append('<input type="hidden" name="special" value="remove"/>')
    })
</script>
{{ block.super }}

{% endblock %}
