{% load static %}
    <article class="row mx-0">
        <div class="col-3 col-md-2 mr-1 py-0">
            <a href="{% url 'products:detail' product.id %}">
                <img src="{{ product.image.url }}" class="img-fluid cart-thumb" alt="{{ product.name }}">
            </a>
        </div>
        <p class="col d-md-none text-primary mx-1 p-0"><a href="{% url 'products:detail' product.id %}">{{ product.name|truncatechars:"20" }}</a></p>
        <div class="col d-none d-md-block">
        <p class="text-primary mr-1 p-0 pl-1"><a href="{% url 'products:detail' product.id %}">{{ product.name }}</a></p>
        <p class="text-dark">{{ product.description|truncatechars:"60" }}</p>
        </div>
        <div class="col-3 col-md-2 pl-0 text-right">
        <p class="text-dark p-0 pr-2 pr-md-4">€{{ product.price }}</p>
        </div>
</article>
<hr>