{% load static %}
<article class="row mx-0">
    <div class="col-3 col-lg-2 py-0 px-1">
        <a href="{% url 'products:product-detail' item.product.id %}">
            <img src="{{ item.product.image.url }}" class="img-fluid cart-thumb" alt="{{ item.product.name }}" />
        </a>
    </div>
    <div class="col-9">
        <div class="row pl-3">
            <h6 class="col d-md-none text-primary heading-font mx-1 p-0"><a href="{% url 'products:product-detail' item.product.id %}">{{ item.product.name|truncatechars:"15" }}</a></h6>
            <h6 class="col d-none d-md-block text-primary heading-font mr-1 px-1"><a href="{% url 'products:product-detail' item.product.id %}">{{ item.product.name }}</a></h6>
            <div class="col-4 col-md-2 p-0 text-right">
                <p class="text-dark p-0 pr-2 pr-md-0">x {{ item.quantity }}</p>
            </div>
        </div>
        <div class="row pl-3">
            <p class="col d-none d-md-block text-dark mb-1 px-1">{{ item.product.description|truncatechars:"60" }}</p>
            <div class="col-4 p-0 ml-auto">
                <div class="row mx-0">
                    <p class="col-12 text-dark text-right p-0">€{{ item.product.price }}</p>
                    {% if item.product.size %}
                    <p class="col-12 text-dark text-right p-0">Size: {{ item.product.size }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</article>
<hr />
