{% extends "base/base.html" %} {% load i18n %} {% block head_title %}{% trans "Change Password" %}{% endblock %} {% block content %}
<div class="row mx-0 pt-3">
    <div class="col-12 text-center">
        <h1 class="heading-font text-primary">{% trans "Change Password" %}</h1>
    </div>

    <div class="col-8 offset-2 align-center">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}
