{% extends "base/base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% block head_title %}{% trans "Change Password" %}{% endblock %} {% block content %}
<div class="row mx-0 pt-3">
    <div class="col-12 text-center">
        <h1 class="heading-font text-primary">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    </div>

    {% if token_fail %} {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    <div class="col-8 offset-2 align-center">
        {% if form %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %} {{ form|crispy }}
            <div class="text-center">
                <button type="submit" class="btn btn-large btn-secondary" value="{% trans 'Change Password' %}">Change Password</button>
            </div>
        </form>
        
        {% else %}
        <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    </div>
</div>
{% endif %} {% endblock %}
