{% extends "base/base.html" %} {% load i18n %} {% load account %} {% load crispy_forms_tags %} {% block head_title %}{% trans "Password Reset" %}{% endblock %} {% block content %}

<div class="row mx-0 pt-3">
    <div class="col-12 text-center">
        <h1 class="heading-font text-primary">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    </div>
    <div class="col-8 offset-2 align-center">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %} {{ form|crispy}}
            <div class="text-center">
                <button type="submit" class="btn btn-large btn-secondary" value="{% trans 'Reset My Password' %}">Reset My Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
