{% extends 'base.html' %}
{% block content %}
<div class="row mx-0 pt-3">
	<div class="col">
		<h1 class="heading-font text-primary text-center">Likes</h1>
	</div>
</div>
<hr>
{% if likes %}
<div class="row mx-0">
    {% for item_id in likes %}
        {% for product in products %}
            {% if item_id == product.id %}
                {% include 'products/includes/product_box.html' %}
            {% endif %}
        {% endfor %}
    {% endfor %}
	</div>
{% else %}
    <div class="row mx-0">
    <div class="col text-center">
    <h4 class="text-dark">No likes...</h4>
        <h2 class="text-primary">Let's browse!</h2>
        <a class="btn btn-lg btn-danger mt-4 w-25" href="{% url 'products:list' %}">Shop</a>
    </div>
    </div>
{% endif %}
{% endblock %}