{% extends 'base/base.html' %} {% block head_title %}Found{% endblock%} {% load static %} {% block content %} {% if 'query' in request.GET %}
<h3 class="text-center pt-2">check out:</h3>
<h1 class="text-center heading-font text-primary">{{ request.GET.query }}</h1>
<hr />
{% endif %} {% if not 'query' in request.GET %} {% include 'products/includes/stockdrop_splash.html' %} {% endif %}
{% if page_obj %}
<div class="row mx-0 infinite-container">
 {% for product in page_obj %} {% include 'products/includes/product_box.html' %} {% endfor %}
</div>
{% else %}
<div class="row mx-0 infinite-container">
    <div class="col text-center">
        <h4 class="text-dark">Nothing found but good stuff is...</h4>
        <h2 class="text-primary heading-font">Neverlost</h2>
        <a class="btn btn-lg btn-danger mt-2" href="{% url 'products:product-list' %}">Shop</a>
    </div>
</div>
<hr>
    {% include 'products/includes/related_products.html' %}
{% endif %}
{% if page_obj.has_next %} {% if 'query' in request.get_full_path %}
<a class="infinite-more-link d-none" href="{{ request.path }}?query={{ keyword }}?page={{ page_obj.next_page_number }}"></a>
{% else %}
<a class="infinite-more-link d-none" href="{{ request.path }}?page={{ page_obj.next_page_number }}"></a>
{% endif %}
<div class="d-flex justify-content-center text-secondary d-none mt-3">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
{% endif %} {% endblock %} {% block postloadjs %} {{ block.super }}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script src="{% static 'js/infinite_settings.js' %}"></script>
{% endblock %}
