{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="p-md-5">
<article class="card border-0">
    <div class="row mx-0">
        <div class="col-md-5 p-0">
            <img src="{{ product.image.url }} " alt="{{ product.name }}" class="card-img-top img-fluid">
        </div>
        <div class="col-md-7">
            <div class="card-body card-body-detail pl-0 pt-0">
                <div class="row">
                <div class="col-12">
                <h1 class="text-primary">{{ product.name }}</h1>
                </div>
                </div>
                <div class="row">
                    <p class="col-12">{{ product.description }}</p>
                    <h4 class="col-12 mb-3">&nbsp;€{{ product.price }}</h4>
                </div>
                <div class="row w-100 card-detail-buttons ml-1">
                    {% if product.id|stringformat:"s" in cart %}
                        {% include 'cart/includes/detail_remove_from_cart.html' %}
                    {% else %}
                    {% include 'cart/includes/detail_add_to_cart.html' %}
                {% endif %}                                  
{% if product in likes %}
                    {% include 'likes/includes/detail_remove_from_likes.html' %}
                {% else %}
                    {% include 'likes/includes/detail_add_to_likes.html' %}
                {% endif %}  
                    <p class="col-12 text-white mt-3 p-0">{% for tag in product.admin_tags %}
                        <a href="#" class="btn btn-primary rounded-sm mb-1 px-1 py-0">{{tag}}</a> {% endfor %}{% if product.user_tags %}{% for tag in product.user_tags %}<a href="#" class="btn btn-primary rounded-sm mb-1 px-1 py-0">{{tag}}</a> {% endfor %}{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
</div>
{% endblock %}