{% extends 'base/base.html' %} {% block head_title %}{{ stockdrop.name }}{% endblock%} {% load static %} {% block content %}
<div class="row mx-0 pt-3">
    <div class="col">
        <h1 class="heading-font text-primary text-center">{{ stockdrop.name }}</h1>
    </div>
</div>
<hr />
<div class="row mx-0 infinite-container">
    {% for product in page_obj %} {% include 'products/includes/product_box.html' %} {% endfor %}
</div>

{% if page_obj.has_next %}
<a class="infinite-more-link d-none" href="?page={{ page_obj.next_page_number }}"></a>
<div class="d-flex justify-content-center text-secondary d-none mt-3">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
{% endif %} {% endblock %} {% block postloadjs %} {{ block.super }}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script src="{% static 'js/infinite_settings.js' %}"></script>
{% endblock %}
