{% load static %}
<header class="fixed-top container-fluid shadow p-0">
    <div class="row bg-dark">
        <div class="col-12">
            <h1 class="text-center my-2 brand-logo"><a href="{% url 'products:list' %}">NEVERLOST</a></h1>
        </div>
    </div>
    <div class="row mx-0 pr-2 bg-dark">
    <div class="col-1 offset-8 offset-md-10">
        {% if user.is_authenticated %}
        <a href="#" class="d-inline-block" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-title="&lt;a href=&quot;{% url 'account_logout' %}&quot;&gt;Logout&lt;/a&gt;" data-content="And here's some amazing content. It's very engaging. Right?" tabindex="0">
            <object type="image/svg+xml" data="{% static 'icons/user.svg' %}">
                <img src="{% static 'icons/user.svg' %}" alt="Account">
            </object>
        </a>
        {% else %}
        <a href="#" class="d-inline-block" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-title="&lt;a href=&quot;{% url 'account_login' %}?next={{ request.path }}&quot;&gt;Sign In | Join&lt;/a&gt;" data-content="And here's some amazing content. It's very engaging. Right?" tabindex="0">
            <object type="image/svg+xml" data="{% static 'icons/user.svg' %}">
                <img src="{% static 'icons/user.svg' %}" alt="Account">
            </object>
        </a>
        {% endif %}
    </div>
    {% if cart|length > 0 %}
    <div class="col-1 offset-1 offset-md-0">
        <object type="image/svg+xml" data="{% static 'icons/cart-fill.svg' %}">        
            <img src="{% static 'icons/cart-fill.svg' %}" alt="Account">
        </object>
        <span class="badge badge-danger rounded-circle mb-1">{{ cart|length }}</span>
    </div>
    {% else %}
    <div class="col-1 offset-1 offset-md-0">
        <object type="image/svg+xml" data="{% static 'icons/cart.svg' %}">        
            <img src="{% static 'icons/cart.svg' %}" alt="Account">
        </object>
    </div>
    {% endif %}
    </div>
    <div class="row bg-primary">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <button class="navbar-toggler ml-auto my-2 mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav nav-justified w-100">
                        <li class="nav-item {% if products_active %}active{% endif %}">
                            <a href="{% url 'products:list' %}" class="nav-link text-right text-md-center pr-3 pr-md-0">Products<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item {% if categories_active %}active{% endif %}">
                            <a class="nav-link nav-link text-right text-md-center pr-3 pr-md-0" href="#">Categories<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {% if contact_active %}active{% endif %}">
                            <a class="nav-link nav-link text-right text-md-center pr-3 pr-md-0" href="#">Contact<span class="sr-only"></span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>