{% load static %}
<!--All content with the data-title and data-content must be escaped.-->
<a
    class="d-inline-block href-stop"
    id="cart-popover"
    href="#"
    data-toggle="popover"
    data-trigger="focus"
    data-placement="bottom"
    data-html="true"
    {% if cart_quantity %}
    data-title="{% include 'cart/includes/cart_popover_title.html' %}"
    data-content="{% include 'cart/includes/cart_popover_content.html' %}"
    {% else %}
    data-title="Empty Cart"
    data-content="Hope you find something you like!"
    {% endif %}
    tabindex="0"
>
    <!--Selects the default icon based on whether the item is in the cart or not.
    Includes alittle badge that updates with cart quantity.
    object tags are used to display the SVG for caching.-->
    {% if cart_quantity %}
    <object class="header-object" type="image/svg+xml" data="{% static 'icons/cart-fill.svg' %}">
        <img src="{% static 'icons/cart-fill.svg' %}" alt="Account" />
    </object>
    <span class="badge badge-secondary rounded-circle mb-1">{{ cart_quantity }}</span>
    {% else %}
    <object class="header-object" type="image/svg+xml" data="{% static 'icons/cart.svg' %}">
        <img src="{% static 'icons/cart.svg' %}" alt="Account" />
    </object>
    {% endif %}
</a>
