{% load static %}
    <article id="cart-item-{{ item.product.id }}" class="row mx-0">
        <div class="col-3 col-md-2 mr-1 py-0 px-1 px-sm-3 px-md-4">
            <a href="{% url 'products:product-detail' item.product.id %}">
                <img src="{{ item.product.image.url }}" class="img-fluid cart-thumb" alt="{{ item.product.name }}">
            </a>
        </div>
        <p class="col d-md-none text-primary mx-1 p-0"><a href="{% url 'products:product-detail' item.product.id %}">{{ item.product.name|truncatechars:"20" }}</a></p>
        <div class="col d-none d-md-block">
        <p class="text-primary mr-1 p-0 pl-1"><a href="{% url 'products:product-detail' item.product.id %}">{{ item.product.name }}</a></p>
        <p class="text-dark mb-1">{{ item.product.description }}</p>
        </div>
        <form class="col col-md-1 d-none d-md-block mr-1 p-0 text-right toggle-form" id="af-{{ item.product.id }}" action="{% url 'cart:cart-toggle' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="item-id" value="{{ item.product.id }}">
            <input type="hidden" name="quantity" value="1">
            <button type="submit" class="btn-sm btn-dark px-1">Remove</button>
        </form>
        <div class="col-3 col-md-2 pl-0 text-right">
        <p class="text-dark p-0 pr-2 pr-md-4">€{{ item.product.price }}</p>
            <form class="d-md-none mr-1 p-0 toggle-form" id="bf-{{ item.product.id }}" action="{% url 'cart:cart-toggle' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="item-id" value="{{ product.id }}">
            <input type="hidden" name="quantity" value="1">
            <button type="submit" class="btn-sm btn-dark px-1">Remove</button>
        </form>
        </div>
        <hr class="col-12 my-3">
</article>
