{% load static %}
<form class="col-9 col-sm-8 col-md-9 col-lg-7 pl-0 toggle-form" id="cf-{{ product.id }}" action="{% url 'cart:cart-toggle'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="item-id" value="{{ product.id }}">
    <input type="hidden" name="quantity" value="1">
    <button type="submit" id="btn-{{ product.id }}" class="btn-lg btn-dark w-100">
    {% if product.id|stringformat:'s' in cart %}
        <object class="detail-object" id="cart-svg-{{ product.id }}" type="image/svg+xml" data="{% static 'icons/cart-check-white.svg' %}">
            <img id="cart-img-{{ product.id }}" src="{% static 'icons/cart-check-white.svg' %}" alt="Add to Cart">
        </object>
        &nbsp;&nbsp;Remove from Cart
        {% else %}
                <object class="detail-object" id="cart-svg-{{ product.id }}" type="image/svg+xml" data="{% static 'icons/cart-plus-white.svg' %}">
            <img id="cart-img-{{ product.id }}" src="{% static 'icons/cart-plus-white.svg' %}" alt="Add to Cart">
        </object>
        &nbsp;&nbsp;Add to Cart
        {% endif %}
    </button>
</form>   