    &lt;form method=&quot;POST&quot; action=&quot;{% url 'account_logout' %}?next={{ request.path }}&quot;&gt;
&lt;input type=&quot;hidden&quot; name=&quot;csrfmiddlewaretoken&quot; value=&quot;{{ csrf_token }}&quot;&gt;
{% if redirect_field_value %}
          &lt;input type=&quot;hidden&quot; name=&quot;{{ redirect_field_name }}&quot; value=&quot;{{ redirect_field_value }}&quot;&gt;
    {% endif %}
    &lt;button type=&quot;submit&quot; class=&quot;btn btn-link text-left p-0&quot; value=&quot;Submit&quot;&gt;Logout&lt;/button&gt;
    &lt;/form&gt;
