{% load i18n %}
{% load crispy_forms_tags %}
{% url 'users:user-change-password' as url_change_password %}

<article class="row">
    <h3 class="col-12 text-primary mb-3">{% trans "Change Password:" %}</h3>
    <div class="col-12">

    <form method="POST" action="{% url 'users:user-change-password' %}" class="password_change">
        {% csrf_token %}
{% if request.path == url_change_password %}
    {% for key, value in form.errors.items %}
    {{ value }}
{% endfor %}
{% endif %}
        {{ change_password_form|crispy }}
        <button class="btn btn-sm btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    </div>
</article>