{% load i18n %}
{% load crispy_forms_tags %}
{% url 'account_signup' as account_signup_url %}

<form class="login" method="POST" action="{% url 'account_signup' %}?next={{ request.path }}">
<!-- https://stackoverflow.com/questions/53320056/django-allauth-display-all-error-messages -->

{% if request.path == account_signup_url %}
{% for key, value in form.errors.items %}
    {{ value }}
{% endfor %}
{% endif %}

  {% csrf_token %}
  {% crispy allauth_signup_form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
</form>