{% load static %}
{% get_media_prefix as MEDIA_URL %}
<div id="carouselStockDrop" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
    {% for number in stock_drops %}
		<li data-target="#carouselStockDrop" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
	</ol>
	<div class="carousel-inner">
        {% for collection in stock_drops %}
		<div class="carousel-item {% if forloop.first %}active{% endif %}">
			<img src="{{ collection.image.url }}" class="d-block w-100" alt="{{ collection|date:'M' }} Stock Drop">
			<div class="dark-overlay carousel-caption w-100">
				<h5 class="heading-font">{{ collection|date:'M' }} Stock Drop</h5>
				<p>{{collection.description}}</p>
			</div>
		</div>
        {% endfor %}
	</div>
	<a class="carousel-control-prev" href="#carouselStockDrop" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselStockDrop" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>