{% load static %}
<form class="col-2 text-center px-0 toggle-form" id="lf-{{ product.id }}" action="{% url 'likes:likes-toggle' %}" method="POST">
	{% csrf_token %}
    <input type="hidden" name="item-id" value="{{ product.id }}">
	<button type="submit" class="btn btn-link p-0 h-100 w-100">
        <object class="detail-object" id="like-svg-{{ product.id }}" type="image/svg+xml"{% if product in likes %}data="{% static 'icons/heart-fill.svg' %}"{% else %}data="{% static 'icons/heart.svg' %}"{% endif %}>
            <img id="like-img-{{ product.id }}" {% if product in likes %}src="{% static 'icons/heart-fill.svg' %}"{% else %}src="{% static 'icons/heart.svg' %}"{% endif %} alt="Like">
        </object>
    </button>
</form>