{% load static %}
<a class="d-inline-block" id="like-popover" href="#" data-toggle="popover" data-trigger="focus" data-placement="bottom"
	data-html="true" data-title="{% include 'likes/includes/likes_popover_title.html' %}"
	data-content="{% include 'likes/includes/likes_popover_content.html' %}" tabindex="0">
	<object class="header-object" type="image/svg+xml" data="{% static 'icons/heart-fill.svg' %}">
            <img src="{% static 'icons/heart-fill.svg' %}" alt="Account">
        </object>
</a>